<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a routerLink="/news/1" class="navbar-brand">
      <img src="https://i.imgur.com/J303pQ4.png" alt="hackernews logo" id="logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01"
      aria-expanded="false" aria-label="Toggle navigation" style="">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="/newest/1" class="nav-link">Newest</a>
      </li>
      <li class="nav-item">
        <a routerLink="/show/1" class="nav-link">Show</a>
      </li>
      <li class="nav-item">
        <a routerLink="/ask/1" class="nav-link">Ask</a>
        <li class="nav-item">
          <a routerLink="/jobs/1" class="nav-link">Jobs</a>
        </li>
    </ul></div>
  </nav>
</header>
